<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <% if logged_in? %>
    <p>Welcome <%=current_user.username%>! </p>
    <form class="" action="<%=session_url%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <%= authentification %>
      <input type="submit" value="Log out" >
    </form>

    <%else%>
      <a href="<%= new_session_url %>"> Log in </a>
      <a href="<%= new_user_url %>"> Log out </a>
    <%end%>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
